# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.tmp

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Cache
.cache/
.nyc_output/
coverage/

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Temporary files
*.swp
*.swo
